#title{
    background-color: rgb(235, 51, 97);
    color: white;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}
h3{    
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.container-fluid{
    padding: 3% 15% 7%;
}

body{
    font-family: 'Montserrat';
}

/* Navigatin bar */
.navbar{  
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}
/* 
Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* phone */




/* Title image */
.title-image{
    width: 40%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* features */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.para{
    color: #8F8F8F;
}

.usage{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
.color-icon{
    color: #EF8172;
    margin-bottom: 1rem;
}
.color-icon:hover{
    color: rgb(184, 18, 18);
}

/* Testimonials */
#testimonials{
    text-align: center;
    background-color: #EF8172;
    color: #fff;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

/* press */
#press{
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 10%;
    margin: 20px 20px 50px;

}

.carousel-item{
    padding: 7% 15%;
}

/* packages */
#pricing{
    text-align: center;
    padding: 100px;
}

.pricing-col{
    padding: 3% 2%;
}

/* cta */
#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #ffffff;
}
.cust{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: 900; 
    line-height: 1.5;
    padding: 7% 0% 0% 0%;


}
#footer{
    background-color: aliceblue;
    text-align: center;
    padding: 3% 7%;
}


.imgg{
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0deg);
        position: static;
    }
}
